/* General */

@font-face {
  font-family: 'TR2N';
  src: url('/fonts/TR2N.woff2');
}

body {
  position: relative;
}

button {
  cursor: pointer;
}

section {
  margin: 1rem 0;
}

/* Sections */

#schedule th {
  width: 50%;
  text-align: right;
}

#schedule th, #schedule td {
  border: none;
}

#partners {
  background-color: #fff;
}

#partners .row {
  padding: 1rem 0;
}

#umontreal a,
#copyrights {
  color: #fff;
  text-shadow: none;
}

#umontreal,
#copyrights {
  font-size: smaller;
}

#umontreal img {
  max-height: 64px;
}

#umontreal ul {
  margin-bottom: 0;
}

/* Tron */

body {
  background-color: #000;
  font-family: 'Inconsolata', monospace;
}

main {
  margin-top: 54px;
}

nav,
.modal-content {
  background-color: #000;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: rgba(24,202,230,1.0);
}

main,
.modal * {
  color: rgba(24,202,230,1.0);
  text-shadow: 0 0 1px rgba(21,171,195,0.7);
}

main * {
  opacity: .95;
}

main *:hover {
  opacity: 1;
}

.modal-header {
  border: none;
}

h2, h3 {
  font-weight: bold;
  text-shadow: 0 0 5px rgba(21,171,195,0.7);
  opacity: 1;
}

h5 {
  text-shadow: 0 0 3px rgba(21,171,195,0.7);
}

pre {
  color: rgba(24,202,230,1.0);
}

a,
a:hover,
a:focus,
.btn-link,
.btn-link:hover,
.btn-link:focus {
  color: rgb(36,198,224);
  text-shadow: 0 0 5px rgba(36,198,224,1.0);
  text-decoration: underline;
}

#replay-container {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 2em rgba(21,171,195,0.5);
}

.press-start.blink {
  opacity: 0.5;
}

.carousel-inner {
  filter: contrast(140%) sepia(100%) hue-rotate(124deg);
  box-shadow: 0 0 2em rgb(21,171,195);
}

.navbar-brand {
  font-family: 'TR2N', 'Inconsolata', monospace;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(21,171,195,0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
  font-weight: bold;
}
