/* General */

html, body {
  height: 100%;
}

button {
  cursor: pointer;
}

/* Sections */

#schedule th {
  width: 50%;
  text-align: right;
}

#schedule th, #schedule td {
  border: none;
}

/*#faq ul, #faq p:last-child {
margin-bottom: 0;
}*/

#partners {
  background-color: #fff;
}

#umontreal,
#partners .row {
  padding: .25rem 0;
}

#umontreal a,
#copyrights {
  color: #fff;
}

#umontreal,
#copyrights {
  font-size: smaller;
}

#umontreal img {
  max-height: 64px;
}

#umontreal ul {
  margin-bottom: 0;
}

/* Tron */

body {
  background-color: #000;
  font-family: 'Inconsolata', monospace;
}

main {
  color: rgba(21,171,195,1.0);
  text-shadow: 0 0 1px rgba(21,171,195,0.7);
}

main h2, main h3 {
  font-weight: bold;
  text-shadow: 0 0 5px rgba(21,171,195,0.7);
}

main h5 {
  text-shadow: 0 0 3px rgba(21,171,195,0.7);
}

main a,
main a:hover,
main a:focus,
main .btn-link,
main .btn-link:hover,
main .btn-link:focus {
  color: rgb(36,198,224);
  text-shadow: 0 0 5px rgba(36,198,224,1.0);
  text-decoration: underline;
}
