h2 {
  color: #6fc3df;
}

h3 {
  color: #df740c;
}

button {
  cursor: pointer;
}

main {
  color: #e6ffff;
  background-color: #0c141f;
}

main a,
main a:hover,
main .btn-link,
main .btn-link:hover {
  color: #ffe64d;
}

footer {
  color: #fff;
  background-color: #000;
}

/* Sections */

#schedule th {
  width: 50%;
  text-align: right;
}

#schedule th, #schedule td {
  border: none;
}

#faq h6 {
  font-weight: bold;
}

#faq ul, #faq p:last-child {
  margin-bottom: 0;
}

#partners {
  background-color: #fff;
}

#partners .row {
  padding: .5rem 0;
}

#umontreal {
  padding: .5rem 0;
}

#umontreal a {
  color: #fff;
}

#umontreal img {
  max-height: 64px;
}

#umontreal ul {
  margin-bottom: 0;
}

#umontreal .col-sm:nth-child(2),
#copyrights {
  font-size: smaller;
}
